[Unit]
Description=peer-pki-root
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
Restart=always
EnvironmentFile=-/etc/default/peer-pki-root
ExecStart=/usr/sbin/peer-pki-root

[Install]
WantedBy=multi-user.target
